---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import PrivacyPolicyGeneric from "@components/policies/motivateme-privacy-policy.astro";
---

<Layout title="Privacy Policy">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Privacy Policy</Fragment>
      <Fragment slot="desc">Please see our privacy policy below.</Fragment>
    </Sectionhead>
  </Container>

  <div style={{ padding: "25px", maxWidth: "1200px", margin: "0 auto" }}>
    <PrivacyPolicyGeneric />
  </div>
</Layout>
