---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import PrivacyPolicyGeneric from "@components/terms-conditions/progresse-terms-conditions.astro";
---

<Layout title="TERMS AND CONDITIONS">
  <Container>
    <Sectionhead>
      <Fragment slot="title">TERMS AND CONDITIONS</Fragment>
      <Fragment slot="desc">Please see our TERMS AND CONDITIONS below.</Fragment>
    </Sectionhead>
  </Container>

  <div style={{ padding: "25px", maxWidth: "1200px", margin: "0 auto" }}>
    <PrivacyPolicyGeneric />
  </div>
</Layout>
