---
import Link from "@components/ui/link.astro";
---

<footer class="my-5 md:my-20">
  <div class="my-10 lg:mx-20">
    <Link href="/privacy-policy" style="inverted" block size="md">
      Privacy Policy
    </Link>
    <Link href="/contact" style="inverted" block size="md">Contact</Link>
  </div>

  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} PKSW Innovation Labs. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline"
    >
      Web3Templates
    </a>
  </p>
</footer>
