---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

let resolvedImageWithDomain = "";
switch (Astro.url.pathname) {
  case "/progresse/":
    resolvedImageWithDomain = new URL("/progresse_public.png", Astro.site).toString();
    break;
  case "/motivateme/":
    resolvedImageWithDomain = new URL("/motivateme_public.png", Astro.site).toString();
    break;
  default:
    resolvedImageWithDomain = new URL("/favicon_pksw.png", Astro.site).toString();
}

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "PKSW Innovation Labs"
  : "Home - PKSW Innovation Labs";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon_pksw.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="PKSW Innovation Labs - AI development agency"
      canonical={canonicalURL}
      twitter={{
        creator: "@pkswinnovationlabs",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `PKSW Innovation Labs`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
